body{
    font-family: Arial;
}

.center{
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
}
#left-column {
    flex:60%;
}

#right-column {
    flex:40%;
}

circle:hover {
    fill: red;
}

rect:hover {
    fill: hotpink;
}

.border{
    stroke:aquamarine;
    stroke-width: 4px;
}

.tooltip {
    position: absolute;
    background-color: grey;
    border: solid;
    padding: 5px;
}

